<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app>

<welcome-file-list>
    <welcome-file>Inicio</welcome-file>
</welcome-file-list>


  <servlet>
    <servlet-name>Inicio</servlet-name>
    <servlet-class>Inicio</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Inicio</servlet-name>
    <url-pattern>/Inicio</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>verTren</servlet-name>
    <servlet-class>verTren</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>verTren</servlet-name>
    <url-pattern>/verTren</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>verSensor</servlet-name>
    <servlet-class>verSensor</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>verSensor</servlet-name>
    <url-pattern>/verSensor</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>anadirRegistro</servlet-name>
    <servlet-class>anadirRegistro</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>anadirRegistro</servlet-name>
    <url-pattern>/anadirRegistro</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>insertarRegistro</servlet-name>
    <servlet-class>insertarRegistro</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>insertarRegistro</servlet-name>
    <url-pattern>/insertarRegistro</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>verDatos</servlet-name>
    <servlet-class>verDatos</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>verDatos</servlet-name>
    <url-pattern>/verDatos</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>eliminarRegistro</servlet-name>
    <servlet-class>eliminarRegistro</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>eliminarRegistro</servlet-name>
    <url-pattern>/eliminarRegistro</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>ordenarRegistro</servlet-name>
    <servlet-class>ordenarRegistro</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ordenarRegistro</servlet-name>
    <url-pattern>/ordenarRegistro</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>grafico</servlet-name>
    <servlet-class>grafico</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>grafico</servlet-name>
    <url-pattern>/grafico</url-pattern>
  </servlet-mapping>

 <servlet>
    <servlet-name>anadirTren</servlet-name>
    <servlet-class>anadirTren</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>anadirTren</servlet-name>
    <url-pattern>/anadirTren</url-pattern>
  </servlet-mapping>
  
 <servlet>
    <servlet-name>editarTren</servlet-name>
    <servlet-class>editarTren</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>editarTren</servlet-name>
    <url-pattern>/editarTren</url-pattern>
  </servlet-mapping>

      
 <servlet>
    <servlet-name>colision</servlet-name>
    <servlet-class>colision</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>colision</servlet-name>
    <url-pattern>/colision</url-pattern>
  </servlet-mapping>
  

    
</web-app>
